<!-- SIGN UP MODAL -->
  <div class="modal fade" id="signup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">Create an account</h3>
        </div>
        <div class="modal-body">
          <form action="" method="POST" role="form">
            <div class="form-group">
              <label for="">Enter Email</label>
              <input type="email" class="form-control" id="">
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input type="password" class="form-control" id="">
            </div>
            <div class="form-group">
              <label for="">Confirm Password</label>
              <input type="password" class="form-control" id="">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
