<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/site_title' %>
    <%= render 'layouts/shared/setting_css_style' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/shared/header' %>
    <div class="main-wrapper">
    <%= yield %>
    </div>
    <%= render 'layouts/shared/footer' %>
    <%= render 'layouts/shared/copy_right' %>
    <%= render 'layouts/modals/login_modal' %>
    <%= render 'layouts/modals/sign_up_modal' %>
    <%= render 'layouts/modals/product_quick_view_modal' %>
  </body>
</html>
